<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.abn.gitLab.test.IssuesTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteIssueWhichisNotExist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteIssue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>gteIssuesList</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewIssue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateIssueTitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getIssues</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>serviceSetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
