<h2>Methods that were not run</h2><table>
<tr><td>com.abn.gitLab.test.IssuesTests.deleteIssueWhichisNotExist</td></tr>
<tr><td>com.abn.gitLab.test.IssuesTests.deleteIssue</td></tr>
<tr><td>com.abn.gitLab.test.IssuesTests.gteIssuesList</td></tr>
<tr><td>com.abn.gitLab.test.IssuesTests.getIssues</td></tr>
<tr><td>com.abn.gitLab.test.IssuesTests.updateIssueTitle</td></tr>
</table>