<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dac38f">  <td>22/04/14 11:56:15</td>   <td>0</td> <td title="&gt;&gt;TestBase.startUp()[pri:0, instance:com.abn.gitLab.test.IssuesTests@5524cca1]">&gt;&gt;startUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>22/04/14 11:56:15</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;IssuesTest.serviceSetUp()[pri:0, instance:com.abn.gitLab.test.IssuesTests@5524cca1]">&gt;&gt;serviceSetUp</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>22/04/14 11:56:15</td>   <td>118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IssuesTest.createNewIssue()[pri:1, instance:com.abn.gitLab.test.IssuesTests@5524cca1]">createNewIssue</td>
  <td>main@640070680</td>   <td></td> </tr>
</table>
